dist
node_modules
.llm-cache
test/temp_output
experiments
src/**/*.js
src/**/*.js.map
benchmark/*.js
benchmark/*.js.map
.DS_Store
test/actual
test-*

.cursor/


artifacts/
organized/
logs/
thesis-code/node_modules/
thesis-code/rq3/equivalent-mutants/classify/data
thesis-code/rq3/equivalent-mutants/classify/results
thesis-code/rq3/equivalent-mutants/classify/runs