dist
node_modules
.llm-cache
test/temp_output
experiments
src/**/*.js
src/**/*.js.map
benchmark/*.js
benchmark/*.js.map
.DS_Store
test/actual
test-*


artifacts/
organized/
equivalent-mutants/classify/data
equivalent-mutants/classify/results
equivalent-mutants/classify/runs